.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
  font-size: calc(5px + 2vmin);
  padding-bottom: 5px;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
  border: 5px solid grey;
  padding: 10px;
}

.incomplete {
  color: red;
  font-size: calc(1px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
